QMenuBar {
      background-color: #ffffff;
      color: #1e1e2e;
}

QMenuBar::item {
      padding: 1px 4px;
      background: transparent;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
      background: #4a4e6a;
}

QMenuBar::item:pressed {
      background: #e8e8f0;
}